[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:ekohandel/kickstart.nvim.git
[submodule "mutt/mutt-gruvbox"]
	path = mutt/mutt-gruvbox
	url = https://github.com/shuber2/mutt-gruvbox.git
