* {
    border:        none;
    border-radius: 0;
    font-family:   Sans;
    font-size:     15px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color:      #fbf1c7;
    background: #282828;  
}

window#waybar.solo {
    color:      #fbf1c7;
    background: #282828;  
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    color:      #fbf1c7;
    padding:    0 5px;
}

#workspaces button.visible {
    color:      #fbf1c7;
    background: #1d2021;  
}

#workspaces button.focused {
    border-bottom: 3px solid #fbf1c7;
}

#workspaces button.urgent {
    color:      rgba(238, 46, 36, 1);
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail {
    margin:     0px 10px 0px 10px;
    min-width:  25px;
}

#clock {
    margin:     0px 16px 0px 10px;
    min-width:  140px;
}

#battery.warning {
    color:      #d79921;
}

#battery.critical {
    color:      #cc241d;
}

#battery.charging {
    color:      #fbf1c7;
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}

